# üìå Extrac√£o

In [1]:
# Importa√ß√£o de biblioteca
import pandas as pd
import numpy as np
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import missingno as msno
warnings.filterwarnings('ignore')

In [2]:
# importar os dados do json, do arquivo que foi feito o download
dados = 'dados\\TelecomX_Data.json'
df_dados = pd.read_json(dados)
df_dados.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [3]:
# importar os dados do arquivo json, diretamente do github fornecido pelo curso
url = 'https://raw.githubusercontent.com/TheGabrielVieira/challenge2-data-science/refs/heads/main/dados/TelecomX_Data.json'

# Requisi√ß√£o HTTP para obter o conte√∫do
response = requests.get(url)

# Verifica se a requisi√ß√£o foi bem-sucedida
if response.status_code == 200:
    data_json = response.json()
    # Converte o JSON em um DataFrame do Pandas
    df_raw = pd.DataFrame(data_json)
    print(df_raw.head())
else:
    print(f"Erro ao acessar os dados: {response.status_code}")

   customerID Churn                                           customer  \
0  0002-ORFBO    No  {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
1  0003-MKNFE    No  {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
2  0004-TLHLJ   Yes  {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
3  0011-IGKFF   Yes  {'gender': 'Male', 'SeniorCitizen': 1, 'Partne...
4  0013-EXCHZ   Yes  {'gender': 'Female', 'SeniorCitizen': 1, 'Part...

                                             phone  \
0   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
1  {'PhoneService': 'Yes', 'MultipleLines': 'Yes'}
2   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
3   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
4   {'PhoneService': 'Yes', 'MultipleLines': 'No'}

                                            internet  \
0  {'InternetService': 'DSL', 'OnlineSecurity': '...
1  {'InternetService': 'DSL', 'OnlineSecurity': '...
2  {'InternetService': 'Fiber optic', 'OnlineSecu...
3  {'InternetService': 'Fiber optic', 'OnlineSecu...
4  {'InternetService': 'Fiber optic', 'OnlineSecu...

                                             account
0  {'Contract': 'One year', 'PaperlessBilling': '...
1  {'Contract': 'Month-to-month', 'PaperlessBilli...
2  {'Contract': 'Month-to-month', 'PaperlessBilli...
3  {'Contract': 'Month-to-month', 'PaperlessBilli...
4  {'Contract': 'Month-to-month', 'PaperlessBilli...

# üîß Transforma√ß√£o

### Normalizando o dataframe json

In [4]:
# Normalizar o dados
df_raw = pd.json_normalize(data_json)
df_raw.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

### Verificar a estrutura dos dados

In [5]:
# Identificando as colunas
df_raw.columns

Index(['customerID', 'Churn', 'customer.gender', 'customer.SeniorCitizen',
       'customer.Partner', 'customer.Dependents', 'customer.tenure',
       'phone.PhoneService', 'phone.MultipleLines', 'internet.InternetService',
       'internet.OnlineSecurity', 'internet.OnlineBackup',
       'internet.DeviceProtection', 'internet.TechSupport',
       'internet.StreamingTV', 'internet.StreamingMovies', 'account.Contract',
       'account.PaperlessBilling', 'account.PaymentMethod',
       'account.Charges.Monthly', 'account.Charges.Total'],
      dtype='object')

In [6]:
# Verificar as colunas e tipos de dados
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [7]:
# Vis√£o mais clara dos tipos
df_raw.dtypes

customerID                    object
Churn                         object
customer.gender               object
customer.SeniorCitizen         int64
customer.Partner              object
customer.Dependents           object
customer.tenure                int64
phone.PhoneService            object
phone.MultipleLines           object
internet.InternetService      object
internet.OnlineSecurity       object
internet.OnlineBackup         object
internet.DeviceProtection     object
internet.TechSupport          object
internet.StreamingTV          object
internet.StreamingMovies      object
account.Contract              object
account.PaperlessBilling      object
account.PaymentMethod         object
account.Charges.Monthly      float64
account.Charges.Total         object
dtype: object

### No√ß√£o inicial dos dados

In [8]:
# Resumo estat√≠stico das vari√°veis num√©ricas
df_raw.describe()

       customer.SeniorCitizen  customer.tenure  account.Charges.Monthly
count             7267.000000      7267.000000              7267.000000
mean                 0.162653        32.346498                64.720098
std                  0.369074        24.571773                30.129572
min                  0.000000         0.000000                18.250000
25%                  0.000000         9.000000                35.425000
50%                  0.000000        29.000000                70.300000
75%                  0.000000        55.000000                89.875000
max                  1.000000        72.000000               118.750000

In [9]:
# Dados categoricos
df_raw.describe(include='object')

,customerID,Churn,customer.gender,customer.Partner,customer.Dependents,phone.PhoneService,phone.MultipleLines,internet.InternetService,internet.OnlineSecurity,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Total
count,7267,7267,7267,7267,7267,7267,7267,7267,7267,7267,7267,7267,7267,7267,7267,7267,7267,7267
unique,7267,3,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,6531
top,9995-HOTOH,No,Male,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,20.2
freq,1,5174,3675,3749,5086,6560,3495,3198,3608,3182,3195,3582,2896,2870,4005,4311,2445,11

### Verifica√ß√£o de inconsist√™ncias:

In [10]:
# Contagem de valores nulos
df_raw.isnull().sum()

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

In [11]:
# Contagem de valores NaN
df_raw.isna().sum()

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

In [12]:
# Buscando por valores duplicados
df_raw.duplicated().sum()

np.int64(0)

In [13]:
# Verificar colunas categ√≥ricas e seus valores √∫nicos
for col in df_raw.select_dtypes(include='object').columns:
    print(f'{col}: {df_raw[col].unique()}')

customerID: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Churn: ['No' 'Yes' '']
customer.gender: ['Female' 'Male']
customer.Partner: ['Yes' 'No']
customer.Dependents: ['Yes' 'No']
phone.PhoneService: ['Yes' 'No']
phone.MultipleLines: ['No' 'Yes' 'No phone service']
internet.InternetService: ['DSL' 'Fiber optic' 'No']
internet.OnlineSecurity: ['No' 'Yes' 'No internet service']
internet.OnlineBackup: ['Yes' 'No' 'No internet service']
internet.DeviceProtection: ['No' 'Yes' 'No internet service']
internet.TechSupport: ['Yes' 'No' 'No internet service']
internet.StreamingTV: ['Yes' 'No' 'No internet service']
internet.StreamingMovies: ['No' 'Yes' 'No internet service']
account.Contract: ['One year' 'Month-to-month' 'Two year']
account.PaperlessBilling: ['Yes' 'No']
account.PaymentMethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
account.Charges.Total: ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

### Tratando as Inconsist√™ncias

In [14]:
# Criando c√≥pia
df_copy = df_raw.copy()

In [15]:
# Convers√£o de dados
df_copy['account.Charges.Total'] = pd.to_numeric(df_copy['account.Charges.Total'], errors='coerce') #errors='coerce' para converter vazios em NaN (caso haja)
print(df_copy['account.Charges.Total'].dtypes)

float64

In [16]:
# Verificando se h√° valores nulos
df_copy[df_copy['account.Charges.Total'].isna()]

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN

In [17]:
# Preencher 'account.Charges.Total' com zero.
df_copy.loc[df_copy['customer.tenure'] == 0, 'account.Charges.Total'] = 0.0

In [18]:
df_copy['account.Charges.Total'].isna().sum()

np.int64(0)

### Verificando a vari√°vel 'Churn'

In [19]:
# Coluna 'churn' possui registros vazios
print((df_copy['Churn'] == '').sum())

224

In [20]:
# Vendo s√≥ esses registros
df_copy[df_copy['Churn'] == '']

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
30,0047-ZHDTW,,Female,0,No,No,11,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),79.00,929.30
75,0120-YZLQA,,Male,0,No,No,71,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.90,1355.10
96,0154-QYHJU,,Male,0,No,No,29,Yes,No,DSL,...,Yes,No,Yes,No,No,One year,Yes,Electronic check,58.75,1696.20
98,0162-RZGMZ,,Female,1,No,No,5,Yes,No,DSL,...,Yes,No,Yes,No,No,Month-to-month,No,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,,Male,1,Yes,No,65,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),103.15,6792.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7158,9840-GSRFX,,Female,0,No,No,14,Yes,Yes,DSL,...,Yes,No,No,No,No,One year,Yes,Mailed check,54.25,773.20
7180,9872-RZQQB,,Female,0,Yes,No,49,No,No phone service,DSL,...,No,No,No,Yes,No,Month-to-month,No,Bank transfer (automatic),40.65,2070.75
7211,9920-GNDMB,,Male,0,No,No,9,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,76.25,684.85
7239,9955-RVWSC,,Female,0,Yes,Yes,67,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),19.25,1372.90
7247,9966-VYRTZ,,Female,0,Yes,Yes,31,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,19.55,658.95

In [21]:
df_copy[df_copy['Churn'] == ''].describe(include='all')

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
count,224,224,224,224.000000,224,224,224.000000,224,224,224,...,224,224,224,224,224,224,224,224,224.000000,224.000000
unique,224,1,2,NaN,2,2,NaN,2,3,3,...,3,3,3,3,3,3,2,4,NaN,NaN
top,0047-ZHDTW,,Male,NaN,Yes,No,NaN,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,NaN
freq,1,224,120,NaN,116,153,NaN,199,105,102,...,94,100,109,86,85,130,140,80,NaN,NaN
mean,NaN,NaN,NaN,0.178571,NaN,NaN,31.571429,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.412277,2196.933705
std,NaN,NaN,NaN,0.383851,NaN,NaN,24.998552,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.388712,2329.961954
min,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.750000,18.900000
25%,NaN,NaN,NaN,0.000000,NaN,NaN,7.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.425000,351.037500
50%,NaN,NaN,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.100000,1163.175000
75%,NaN,NaN,NaN,0.000000,NaN,NaN,56.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.412500,3562.862500
max,NaN,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115.550000,8425.300000

In [22]:
# Propor√ß√£o dos valores vazios da coluna 'churn'
df_copy['Churn'].value_counts(normalize=True)

Churn
No     0.711986
Yes    0.257190
       0.030824
Name: proportion, dtype: float64

### Cria√ß√£o de dois dataframes:

- 1.Um dataset com os dados exclu√≠dos pois podem atrapalhar um poss√≠vel modelo e ser√° dataset que irei utilizar
- 2.Outor com o 'churn' preenchidos com 'Unknown' caso seja necess√°rio utilizar posteriormente

In [23]:
# 1. Dataset com registros de 'Churn' v√°lidos apenas (para poss√≠vel an√°lise supervisionada)
df_churn_limpos = df_copy[df_copy['Churn'] != ''].copy()

# 2. Dataset com todos os registros, preenchendo vazios com 'Unknown'
df_churn_unknown = df_copy.copy()
df_churn_unknown['Churn'] = df_churn_unknown['Churn'].replace('', 'Unknown')

In [24]:
df_churn_limpos.shape

(7043, 21)

In [25]:
print(f"Dataset limpo: {df_churn_limpos.shape}")
print(df_churn_limpos['Churn'].value_counts())

print("\nDataset com 'Unknown':")
print(df_churn_unknown['Churn'].value_counts())

Dataset limpo: (7043, 21)
Churn
No     5174
Yes    1869
Name: count, dtype: int64

Dataset com 'Unknown':
Churn
No         5174
Yes        1869
Unknown     224
Name: count, dtype: int64

In [26]:
# Identificando as vari√°veis
binarias = [col for col in df_churn_limpos.columns
            if sorted(df_churn_limpos[col].unique()) == ['No', 'Yes']]
print(binarias)

['Churn', 'customer.Partner', 'customer.Dependents', 'phone.PhoneService', 'account.PaperlessBilling']

In [27]:
# Substituir 'Yes' = 1 e 'No' = 0
df_churn_limpos[binarias] = df_churn_limpos[binarias].replace({'Yes': 1, 'No': 0})

In [28]:
df_churn_limpos[binarias].head()

,Churn,customer.Partner,customer.Dependents,phone.PhoneService,account.PaperlessBilling
0,0,1,1,1,1
1,0,0,0,1,0
2,1,0,0,1,1
3,1,1,0,1,1
4,1,1,0,1,1

In [29]:
# Criando a coluna contas di√°rias (Daily Charges)
# Como n√£o temos colunas de datas, usei a m√©dia de dias num m√™s considerando meses com 30, 31 e 28/29 dias

df_churn_limpos['Daily_Charges'] = df_churn_limpos['account.Charges.Monthly'] / 30.42

In [30]:
df_churn_limpos['Daily_Charges'].dtype

dtype('float64')

# üìä Carga e an√°lise
###  Fase de an√°lise explorat√≥ria

In [ ]:
# Criando dataset limpo
df_silver = df_churn_limpos.copy()

In [ ]:
df_silver.describe()

In [ ]:
# Estilo dos gr√°ficos
sns.set(style='whitegrid')
custom_palette = 'BuGn'  # tons de azul-verde

# Exibir gr√°ficos com tamanho padr√£o
plt.rcParams['figure.figsize'] = (8, 4)

# üìÑRelatorio Final